@model AuthDemo.Models.HomepageViewModel

<div class="row">
    <div class="col-md-6 col-md-offset-3 well">
        <h1><a href="/home/signup">Sign up for a new account</a></h1>
        @if (Model.IsAuthenticated)
        {
            <h1>
                <a href="/home/secret">Secret page</a>
            </h1>
        }
        else
        {
            <h1>
                <a href="/home/login">Login</a>
            </h1>
        }

        <h1><a href="/home/Logout">Log out</a></h1>
        <br />
    </div>
</div>